@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
  background-color: aquamarine;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh;
}

.title {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 8vh;
}

.fa-paw {
  margin-left: 8px;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  padding: 24px;
  position: relative;
  height: 500px;
  background-color: #edffec;
  font-weight: normal;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2);
}

.fa-refresh {
  position: absolute;
  top: 0;
  right: 0;
  padding: 16px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .card {
    width: 300px;
    height: 250px;
  }
}
